<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <my-include template="/common/css.html"></my-include>
    <link href="/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <my-include template="/common/header.html"></my-include>
    <div class="wrapper">
        <div class="post">
            <div class="post__account">
                <img class="post__account__img"/>
                <p class="post__account__nickname">
                </p>
            </div>
            <img class="post__img"/>
            <div class="post__menu">
                <ul class="post__menu__personal">
                    <li>
                        <button class="post__menu__btn">
                            <img src="/img/like.svg"/>
                        </button>
                    </li>
                    <li>
                        <button class="post__menu__btn">
                            <img src="/img/sendLink.svg"/>
                        </button>
                    </li>
                </ul>
                <button class="post__menu__btn">
                    <img src="/img/bookMark.svg"/>
                </button>
            </div>
            <p class="post__article">
                게시글이 없습니다.
            </p>
        </div>
        <nav class="nav">
            <ul class="nav__menu">
                <li class="nav__menu__item">
                    <a class="nav__menu__item__btn disabled-link" href="">
                        <img
                                class="nav__menu__item__img"
                                src="/img/ci_chevron-left.svg"
                        />
                        이전 글
                    </a>
                </li>
                <li class="nav__menu__item">
                    <a class="btn btn_ghost btn_size_m disabled-link" href="">댓글 작성</a>
                </li>
                <li class="nav__menu__item">
                    <a class="nav__menu__item__btn disabled-link" href="">
                        다음 글
                        <img
                                class="nav__menu__item__img"
                                src="/img/ci_chevron-right.svg"
                        />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
