<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <my-include template="/common/css.html"></my-include>
</head>
<body>
<div class="container">
    <my-include template="/common/header.html"></my-include>
    <my-text>
        <div class="page">
            <h2 class="page-title">댓글 작성</h2>
            <form action="/article/${article.articleId}/comment" class="form"
                  enctype="application/x-www-form-urlencoded"
                  method="post">
                <div class="textfield textfield_size_m">
                    <p class="title_textfield">내용</p>
                    <textarea
                            autocomplete="username"
                            class="input_textfield"
                            maxlength="300"
                            minlength="1"
                            name="content"
                            placeholder="글의 내용을 입력하세요"
                            required
                    ></textarea>
                </div>
                <button
                        class="btn btn_contained btn_size_m"
                        id="registration-btn"
                        style="margin-top: 24px"
                        type="submit"
                >
                    작성 완료
                </button>
            </form>
        </div>
    </my-text>
</div>
</body>
</html>
