<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <my-include template="/common/css.html"></my-include>
</head>
<body>
<div class="container">
    <my-include template="/common/header.html"></my-include>
    <div class="page">
        <h2 class="page-title">마이페이지</h2>

        <div class="profile_container">
            <div class="profile_box">
                <div class="profile_image">
                    <img class="profile"/>
                </div>
                <div class="profile_frame">
                    <div class="btn_profile">
                        <div class="btn_container">수정</div>
                    </div>
                    <div class="btn_bar"></div>
                    <div class="btn_profile">
                        <div class="btn_container">삭제</div>
                    </div>
                </div>
            </div>
            <form action="/mypage" class="form" enctype="application/x-www-form-urlencoded"
                  method="post">
                <div class="textfield textfield_size_s input_margin">
                    <p class="title_textfield">닉네임</p>
                    <input
                            autocomplete="username"
                            class="input_textfield"
                            maxlength="20"
                            minlength="3"
                            name="name"
                            placeholder="회원 가입 시 입력했던 닉네임"
                            type="text"
                    />
                </div>
                <div class="textfield textfield_size_s">
                    <p class="title_textfield">비밀번호</p>
                    <input
                            autocomplete="new-password"
                            class="input_textfield"
                            id="newPassword"
                            maxlength="20"
                            minlength="3"
                            name="newPassword"
                            placeholder="비밀번호를 변경할 경우 입력해주세요"
                            type="password"
                    />
                </div>
                <div class="textfield textfield_size_s">
                    <p class="title_textfield">비밀번호 확인</p>
                    <input
                            class="input_textfield"
                            id="confirmPassword"
                            maxlength="20"
                            minlength="3"
                            placeholder="한 번 더 입력해주세요"
                            type="password"
                    />
                </div>
                <div class="textfield textfield_size_s">
                    <p class="title_textfield">현재 비밀번호</p>
                    <input
                            class="input_textfield"
                            maxlength="20"
                            minlength="3"
                            name="currentPassword"
                            placeholder="현재 비밀번호"
                            required
                            type="password"
                    />
                </div>
                <button
                        class="btn btn_contained btn_size_m input_margin"
                        id="registration-btn"
                        type="submit"
                >
                    변경사항 저장
                </button>

            </form>
        </div>
    </div>
</div>
<script>
    const password = document.querySelector('#newPassword');
    const confirmPassword = document.querySelector('#confirmPassword');

    function validatePassword() {
        if (password.value !== confirmPassword.value) {
            confirmPassword.setCustomValidity("비밀번호가 일치하지 않습니다.");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }

    password.addEventListener('input', validatePassword);
    confirmPassword.addEventListener('input', validatePassword);

</script>
</body>
</html>
